#firstdiv  {background-color: #746AB0;}
#seconddiv {background-color:rgb(136, 255, 0);}
p {line-height: 1.875rem;}
h1 {letter-spacing: 10px;}
ul {list-style: square inside;}
table {text-align: center;
color: red; }
h2 {background-color:yellow;}